<p id="notice"><%= notice %></p>

<h1>Listing Research Participants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @research_participants.each do |research_participant| %>
      <tr>
        <td><%= research_participant.name %></td>
        <td><%= link_to 'Show', research_participant %></td>
        <td><%= link_to 'Edit', edit_research_participant_path(research_participant) %></td>
        <td><%= link_to 'Destroy', research_participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research participant', new_research_participant_path %>
